@{
    ViewData["Title"] = "Создание новой роли";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Создание новой роли</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="roleName">Название роли</label>
        <input type="text" id="roleName" name="roleName" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>